.tabbar-component{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    

}
.tabbar-container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfeff;
    padding: 0 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.856);
    
}
.tabbar-icon{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-family: iranSans;
    color: rgb(0, 0, 0);
    cursor: pointer;
    
}
.tabbar-icon i{
    font-size: 23px;
}
.tabbar-icon label{
    display: none;
}
.tabbar-container a{
    padding:  5px;
    border-bottom: 5px solid rgb(255, 255, 255);
    color: rgb(2, 59, 59);
    transition: all .5s ease-in-out;
    
}

.tabbar-icon a:hover{
    color:#120174;
    border-bottom: 5px solid rgb(19, 2, 117);
}



@media (min-width: 765px) {
    .tabbar-component{
        display: none;
        
    }
}