* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: iranSans;
  src: url('./assets/fonts/Iranian\ Sans.ttf');
}

body {
  background: #f6f7f9;
  font-family: iranSanse;
}
